html {
  font-size: 62.5%;
}
body {
  font-family: $primary-font;
}

h1 {
    font-size: 4rem;
    color: $white;
  }
  
  h2 {
    font-size: 3rem;
    color: $red;
  }
  
  h3 {
    font-size: 2rem;
    color: $white;
  }

  h4 {
    font-size: 2rem;
  }
  
  .playerName {
    color: $red;
  }

  label {
    font-size: 2rem;
    color: black;
  }