/* FONT-FAMILY */
$primary-font: 'Oswald', sans-serif;
$secondary-font: Helvetica Neue,Arial Narrow,sans-serif;
$fancy-font: 'Graduate', cursive;

/* COLORS */
$color-1: rgb(20, 20, 20);
$color-2: rgb(242, 242, 242);

$blue: #17408B;
$white: #ffffff;
$red: #C9082A;

