@charset "UTF-8";
/* =============================
RESET + CLEARFIX + BORDER BOX + VISUALLY HIDDEN
============================== */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section,
summary {
  display: block;
}

audio,
canvas,
video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

[hidden] {
  display: none;
}

html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

a:focus {
  outline: thin dotted;
}

a:active,
a:hover {
  outline: 0;
}

h1 {
  font-size: 2em;
}

abbr[title] {
  border-bottom: 1px dotted;
}

b,
strong {
  font-weight: 700;
}

dfn {
  font-style: italic;
}

mark {
  background: #ff0;
  color: #000;
}

code,
kbd,
pre,
samp {
  font-family: monospace, serif;
  font-size: 1em;
}

pre {
  white-space: pre-wrap;
  word-wrap: break-word;
}

q {
  quotes: “”‘’;
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

img {
  border: 0;
}

svg:not(:root) {
  overflow: hidden;
}

fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

button,
input,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0;
}

button,
input {
  line-height: normal;
}

button, html input[type=button], input[type=reset], input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer;
}

button[disabled],
input[disabled] {
  cursor: default;
}

input[type=checkbox],
input[type=radio] {
  box-sizing: border-box;
  padding: 0;
}

input[type=search] {
  -webkit-appearance: textfield;
  box-sizing: content-box;
}

input[type=search]::-webkit-search-cancel-button,
input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

textarea {
  overflow: auto;
  vertical-align: top;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body,
figure {
  margin: 0;
}

legend,
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: "";
  clear: both;
  height: 0;
}

* {
  box-sizing: border-box;
}

.visuallyhidden:not(:focus):not(:active) {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* FONT-FAMILY */
/* COLORS */
html {
  font-size: 62.5%;
}

body {
  font-family: "Oswald", sans-serif;
}

h1 {
  font-size: 4rem;
  color: #ffffff;
}

h2 {
  font-size: 3rem;
  color: #C9082A;
}

h3 {
  font-size: 2rem;
  color: #ffffff;
}

h4 {
  font-size: 2rem;
}

.playerName {
  color: #C9082A;
}

label {
  font-size: 2rem;
  color: black;
}

header {
  background-color: #17408B;
  padding: 15px;
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
}

.mainSection {
  background-color: #ffffff;
}

.filters {
  display: grid;
}

.comparisonSection {
  display: grid;
}

#filterComp {
  padding: 3rem;
  display: grid;
}

.filterChoices {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
}

input {
  border: none;
  border-bottom: 2px solid black;
  font-size: 2rem;
  color: black;
  font-family: "Oswald", sans-serif;
  margin-left: 2rem;
}

button {
  border: 2px solid black;
  border-radius: 10px;
  margin: 25px auto;
  background-color: #17408B;
  font-size: 3rem;
  color: #ffffff;
  font-family: "Oswald", sans-serif;
  width: 50%;
}

#playerSection {
  margin: 2rem 0;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

#playerSection h2 {
  margin-left: 4rem;
  font-family: "Oswald", sans-serif;
  font-size: 4rem;
}

.playerProfile {
  display: grid;
  grid-template-columns: 0.5fr 1fr;
  border: black 5px solid;
  border-radius: 10px;
  margin: 0 2.5rem;
  padding: 5rem;
}

* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #ffffff;
  margin: 10px;
}

.wrapper {
  max-width: 1440px;
  width: 90%;
  margin: 0 auto;
}