@import "./partials/_setup.scss";
@import "./partials/_utils.scss";
@import "./partials/_typography.scss";
@import "./partials/_header.scss";

* {
    margin: 0;
    padding: 0;
}
body { 
    background-color: lightgrey;
    margin: 10px;
}

.wrapper {
    max-width: 1440px;
    width: 90%;
    margin: 0 auto;
  }

